<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" >
  <h1 style="color: #00F;font-size: 250%">
    Welcome to {{title}}
  </h1>
</div>
<div #filter align="right" class="alert alert-info">
<button class="close" (click)="filter.hidden = !filter.hidden">×</button>
             <h4 style="text-align:right;color: #000" >
<br>: مرحبا بك , تسمح هذه الصفحة لك بانشاء فاتورة وتقدم الميزات التالية
<br>تسمح لك باضافة مواد الى الفاتورة من خلال ادخال اسم المادة والكمية والسعر
<br>تعرض محتويات الفاتورة ضمن جدول مع امكانية حذف مادة أو تعديل كمية مادة
<br>يتم حذف المادة في حال تعديل كميتها الى القيمة 0
<br>يتم حساب السعر الاجمالي للفاتورة
<br>يتم عرض عدد المواد الموجودة ضمن الفاتورة 
            </h4>
            </div>

<app-majd-bill> Loading app-majd-bill component</app-majd-bill>